{% extends 'layouts/main.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5">
            <h1>News Details</h1>
            <hr>
        </div>
</div>
<div class="row">
    <div class="col-md-8">
        <h1>{{newsData.title}}</h1>
        {% if newsData.image %}
        <img src="{{ newsData.image.url }}" class="img-fluid" alt="">
        {% endif %}
        <p>
            {{ newsData.description }}
        </p>
    </div>
    <div class="col-md-4">
    <h1>Related Cateogory</h1>
    <ul>
        {% for rnews in relatedNews %}
        <li>
            <a href="{% url 'news_details' news.slug %}">{{ rnews.title }}</a>
        </li>
        {% endfor %}
    </ul>

    </div>
</div>
</div>
     

{% endblock %}




